/*Custom properties*/
:root {
  /* Fonts*/
  --ff-primary: "Exo", sans-serif;
  --ff-main: "Hedvig Letters Sans", sans-serif;
  font-family: "Hedvig Letters Serif", serif;
  font-family: "Roboto", sans-serif;
  --ff-secondary: "Roboto Slab", serif;

  /*Colors*/
  --clr-dark: rgb(18, 14, 10);
  --clr-primary: rgb(56, 255, 20);
  --clr-white: rgb(255, 255, 255);
  --clr-red: rgb(255, 80, 41);
  --clr-outline: #e2333b;
  --clr-shadow: #a32128;
  --clr-shadow2: #3f0716;

  /*Font size*/
  --fs-xlarge: 5rem;
  --fs-large: 3.5rem;
  --fs-larger: 1.5rem;
  --fs-normal: 1.1rem;

}
/* 560px*/
@media (min-width: 35em) {
  :root {
    --fs-large: 5rem;
    --fs-larger: 2.5rem;
    --fs-normal: 1.5rem;
    --fs-small: 1rem;
  }
}
@media (min-width: 45em) {
  /* 720px biggest tablet */
  :root {
    --fs-large: 6.25rem;
    --fs-larger: 3.5rem; /* to get rem values divide given px values from 16*/
    --fs-normal: 1.75rem;
    --fs-small: 1.125rem;
  }
}

/* CSS Reset*/

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing all margins*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up body*/

body {
  font-family: var(--ff-main);
  font-size: var(--fs-normal);
  color: var(--clr-white);
  background-color: var(--clr-dark);
  line-height: 1.5; /* broser standart usually 1.4*/
  min-height: 100vh;
 
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/*make images easier to work with*/

img,
picture {
  max-width: 100%; /* so they will shrink if needed*/
  display: block; /* helps with margins */
}

/* make forms easier to work with*/

input,
button,
textarea,
select {
  font: inherit; /* Buttons dont inherit fonts by default*/
}

/* remove animation for people who`ve turned them off*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important; /* animation can make some people sick*/
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-behavior: smooth;
}
/* Accessibility user styles*/
.skip-to-content {
  position: absolute;
  z-index: 2500;
  background: hsl(var(--clr-white));
  color: var(--clr-light);
  padding: 0.5rem 1em;
  margin-inline: auto;
  /* to hide from screen */
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}
.skip-to-content:focus {
  transform: translateY(0);
}
.sr-only {
  position: absolute; /* settings for screen-reader elements
                                  we dont see them on page but they are in DOM.*/
  width: 1px;
  height: 1px; /* Display: none removes them from DOM as well as page*/
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /* clip-path: rect(0, 0, 0, 0); */
  white-space: nowrap; /* added line*/
  border: 0;
}
section {
  min-height: 100vh;
  padding-inline: 1rem;
}
.flex {
  display: flex;
}
.toUpperCase {
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}
/* Nav bar*/

.home {
  background-image: url(./Assets/Images/Tatoo_artist.webp);
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-dark);
  color: var(--clr-primary);
  font-family: "Roboto Slab";
}

.brand-title {
  font-size: 1.5rem;
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.navbar-links {
height: 100%;


}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 1rem;
  
}

.navbar-links li {
  list-style: none;
 
}

.navbar-links li a {
  display: block;
 
  text-decoration: none;
  color: var(--clr-primary);
  padding: 1rem;
  font-size: var(--fs-small);
}

.navbar-links a:hover,
.navbar-links li:focus
 {
  padding-bottom: .5rem;
  
  border-bottom: 1px solid var(--clr-primary);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}



/*Home page*/
h1 {
  margin-top: 5rem;
}
h1 span {
  display: block;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-xlarge);
    color: var(--clr-white);  
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -5px;
  text-shadow: -1px -1px 0 var(--clr-outline), 1px -1px 0 var(--clr-outline),
    -1px 1px 0 var(--clr-outline), 1px 1px 0 var(--clr-outline), 0 0 2px #f9c2af,
    0 0 14px var(--clr-shadow), 0 0 10px var(--clr-shadow),
    0 0 13px var(--clr-shadow), 0 0 20px var(--clr-shadow2);

  line-height: 0.9;
  transform: scale(0.9, 1);

   background-size: cover;
  background-position: center;
  background-size: 100%;
  text-transform: uppercase;
  /* to put image into text*/
  /*to work with chrome and safari*/
  /*-webkit-background-clip: text;
  /*to work with firefox*/
  /* background-clip: text;
  color: transparent;
  margin: 0 auto; 
  padding-top: 1rem; */
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}
 .social-list__item {
  
  width: 48px;
  height: 48px;
  margin-block: 1.5rem;
  margin-inline: .5rem;
}
 .social-list__item:hover {
  transform: scale(1.2);
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms ease-in-out;  

 }
  img {
  
  width: 100%;
  height: 100%;
 filter: drop-shadow(2px 2px 2px var(--clr-outline));    
} 
.img {
  width: 100px;
}
.tatoo-img {
width: 100px;
    filter: contrast(.1); 
}
.photo {
  width: auto;
  filter: none;
  border:5px solid var(--clr-white);
  margin: .5rem;
  
}
.about-tatoo, .galery {
  flex-direction: column;
  padding-block: 3rem;
  text-align: center;
  border-top: 3px ridge var(--clr-primary);
  background-color: var(--clr-dark);
 
}
.tatoo {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.tatoo img {
  justify-self: center;
  align-self: center;
  margin-bottom: 1rem;
}
.tatoo-info-last{
  margin-bottom: 2rem;
}
/*Galery*/
.photo-galery {
flex-wrap: wrap;
justify-content: space-evenly;
}
/*Footer*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: var(--fs-small);
  background:var(--clr-dark);
  color: var(--clr-primary);
  text-align: center;
  padding: 0.25em 0;
}

/*About-tatoo*/
.about-tatoo {
  background:var(--clr-dark);
  font-family: var(--ff-secondary);

}

@media (max-width: 800px) {
  .home {
    background-image: url(./Assets/Images/Tatoo_artist1.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar {
     flex-direction: column;
    align-items: flex-start; 
    
  }

  .toggle-button {
    display: flex;
  
  }

  .navbar-links {
     display: none;
    width: 100%;
    height: 100vh;
    
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
 
    
    
  }

  .navbar-links ul li {
    text-align: center;
    
  }

  .navbar-links ul li a {
    padding: 2rem 1rem;
    font-size: var(--fs-normal);
  }

  .navbar-links.active {
    display: flex;
  }
  .toggle-button.active .bar {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }
  .toggle-button.active {
    background-image: url(./Assets/Images/x-solid.svg);
    background-repeat: no-repeat;
    padding: 1rem;
  }
}
